*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
.first-section{
    background-color: #1F2937;
}
.header-section{
    display: flex;
    justify-content: space-between;
}
.header-links{
    display: flex;
    gap: 15px;
}
.header-section > p , .header-section > div{
    margin: 20px;
}
.header-section>p{
    font-size: 25px;
    font-weight: 800;
    color: white;
}
.header-section > div{
    font-size: 20px;
    /* margin: 25px; */
    
}
.header-section > div > a{
    color: lightgray;
}