*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
.first-section{
    background-color: #1F2937;
    padding-bottom: 150px;
    
    
    
}
.header-section{
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: auto;
    
    
}


.header-links{
    display: flex;
    gap: 15px;
}
.header-section > p , .header-section > div{
    margin: 20px;
}
.header-section>p{
    font-size: 25px;
    font-weight: 800;
    color: white;
}
.header-section > div{
    font-size: 20px;
    
    
}
.header-section > div > a{
    color:lightgray;
    
}
.h1-heading-section{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    color:white;
    
}
.h1-heading-section > img{
    width: 400px;
    height: auto;
    margin-left: 100px;
}

.h1-heading-section-first-container > a{
    color: white;
    background-color: #3882f6;
    padding: 10px;
    border-radius: 15px;
}

.h1-heading-section-first-container> h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: 900;
}
.h1-heading-section-first-container > p{
    font-size: 18px;
    color:lightgray;
    margin-top: 10px;
    margin-bottom: 20px ;

}
.second-section{
    padding-bottom: 80px;
}
.second-section > h2{
    text-align: center;
    
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;

}
.container-for-services{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
    
}
.small-container{
    border-radius: 10px;
    border: 6px solid #3882f6 ;
    background-color: #E0E7FF;
    color: #312E81;
    /* padding: 50px 45px; */
    width: 200px;
    height: 160px;
    text-align: center;
    padding-top: 60px;
    font-size: 32px;
    font-weight: 900;
}
.another-container{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.small-container-2{
    /* padding: 50px 45px; */
    width: 200px;
    height: 160px;
    text-align: center;
    padding-top: 60px;
    font-size: 17px;
}
.Quote-section{
    background-color: #E5E7EB;
}
.Quote-section > #Quote{
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    width: 60%;
    margin: auto;
    padding-top: 100px ;
}
.Quote-section > #author{
    width: 60%;
    margin: auto;
    text-align: right;
    padding-top: 10px;
    color: black;
    font-weight: 700;
    padding-bottom: 100px;

}

.card{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color:#3882f6 ;
    border-radius: 10px;
    margin-top: 100px ;
    margin-bottom: 100px;
    padding : 70px 50px;
}
.item1{
    color: white;

}
.item2 > a{
    color: #3882f6;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;

}
.footer-section{
    background-color: #1F2937;
    padding: 30px;

}
.footer-section > p{
    text-align: center;
    color: white;
}

    


